:host {
    --border-color: #00C24E;
    --text-color: #444444;
    --text-background: white;
    --border-radius: 0.5em;
    --search-background: #E5E5E5;
}

div#tableBorderDiv {border: 0.5px solid #00C24E;}

table {
    font-size: small;
    font-family: sans-serif;
    background: #00C24E;
    border: 0.5px solid #00C24E;
}

td {
    border: 0.5px solid var(--border-color);
    background-color: var(--text-background);
    color: var(--text-color);
}
tr > td:nth-child(1) {min-width: 25em}
tr > td:nth-child(2) {min-width: 25em}
tr > td:nth-child(3) {width: 8em}
tr > td:nth-child(4) {width: 6em}

tr:first-child > td {
    background-color: var(--border-color); 
    color: var(--text-background);
}

tr:first-child > td:last-child,  tr:last-child > td:last-child, tr:last-child > td:first-child, input#search, img#search {
    border-color: var(--border-color);
}

tr:first-child > td > textarea:focus {
    background-color: var(--border-color); 
    color: var(--text-background);
}
td > textarea:focus {
    background-color: var(--text-background); 
    color: var(--text-color);
}
td:focus-within {background-color: var(--text-background); color: var(--text-color);}

img#search {
    background-color: var(--search-background);
    border-radius: 0px 0px 0px var(--border-radius);
}
input#search {
    background-color: var(--search-background);
    border-radius: 0px 0px var(--border-radius) 0px;
}