<style>
@import url("{{{componentpath}}}/dialogs/setupav{{themename}}.css");

div#dialog {z-index: 200; background-color: var(--dialog-background); border-radius: var(--border-radius);}
div#dialog > span#close{display:none;}
div#dialog > div#error{display:none;}
div#dialogcontent {margin: 0;}

div#maincontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: calc(90vw - 3em);
    overflow: auto;
    color: var(--text-color);
}

div#maincontrols {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3em;
}

div#selectors, div#videotestcolumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div#selectors{ width: 20em; } 
div#selectors > div {display: flex; flex-direction: column;}
div#selectors > div > span {text-align: left;}
div#videotestcolumn{ min-width: 16em; width: 16em; margin-left: 3em; }

select {
    padding: 1em;
    border-radius: var(--border-radius);
    background-color: var(--button-color);
    margin-bottom: 2em;
    border: none;
    color: var(--button-text-color);
    outline: none;
    -webkit-appearance : caret;
}
select:last-child {margin-bottom: 0em;}
select:focus > option:hover {
    background-color: var(--button-text-color) !important;
    color: var(--button-color) !important;
}

span#testbuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
}

span#lowerbuttonbar {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

video#testvideo, span#testvideohelp {
    width: 100%;
    height: 25vh;
    background-color: var(--video-background);
    border-radius: var(--border-radius);
    color: var(--text-color);
    font-size: smaller;
    overflow: hidden;
    object-fit: cover;
}
video#testvideo {
    transform: rotateY(180deg);
    display: none;
}
video#testvideo.nomirror {transform: rotateY(0deg) !important;}
span#testvideohelp {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    user-select: none;
}
span#testvideohelp > span {
    text-align: center; 
    padding: 1em; 
    overflow-y: auto; 
    overflow-x: hidden;
}

span.button {
    border-radius: var(--border-radius);
    width: 6em;
    text-align: center;
    padding: 0.5em;
    margin-right: 4em;
    background-color: var(--button-color);
    font-size: smaller;
    cursor: default;
    color: var(--button-text-color);
}
span.button:last-child {margin-right: 0em;}
span#stoprecording, span#stopplayrecording, span#stopplayspeakers {display: none;}

span.testbutton {
    border-radius: var(--border-radius);
    text-align: center;
    padding: 0.5em 1em;
    background-color: var(--button-color);
    font-size: smaller;
    cursor: default;
    width: 1em;
    color: var(--button-text-color);
}
span.button:last-child {margin-right: 0em;}
</style>
{{{CONF.MOBILE_MEDIA_QUERY_START}}}
    html, body {height: 100%; width: 100%;}
    div#maincontainer {height: 100%; max-width: 100%;}
{{{CONF.MOBILE_MEDIA_QUERY_END}}}
{{{CONF.MOBILE_MEDIA_QUERY_LANDSCAPE_START}}}
    div#dialog {width: 98%; height: 96%; box-sizing: border-box; padding: 2em;}
    div#maincontrols {margin-bottom: 0em; height: calc(100% - 4em);}
    video#testvideo {width: 100%; height: 100%;}
    span#testvideohelp {width: 100%; height: 100%;}
    div#selectors {width: 45%;}
    div#videotestcolumn {width: 40%;}
{{{CONF.MOBILE_MEDIA_QUERY_LANDSCAPE_END}}}
{{{CONF.MOBILE_MEDIA_QUERY_PORTRAIT_START}}}
    div#dialog {width: 96%; height: 98%; box-sizing: border-box; padding: 2em; overflow: auto; }
    body {width: 100%; min-width: 0;}
    span#close {display:none;}
    div#buttonbar {position: absolute; width: calc(100% - 4em); bottom: 2em; justify-content: space-around;}
    span#error {width: 100%;}
    div#maincontrols {flex-direction: column; margin-bottom: 1em;}
    div#videotestcolumn {min-width: 0; width: 100%; margin: 0; margin-top: 2em;}
    span#lowerbuttonbar {justify-content: space-between;}
    video#testvideo {height: 30vh; min-height: 18em;}
    span#testvideohelp {height: 30vh; min-height: 18em;}
    div#selectors {width: 100%;}
    div#selectors > div {margin-bottom: 2em;}
{{{CONF.MOBILE_MEDIA_QUERY_PORTRAIT_END}}}

<script type="module">
import {setupav} from "{{{componentpath}}}/dialogs/setupav.mjs";
setupav.init("{{{hostID}}}"); monkshu_env.apps.telemeet.setupav = setupav;
</script>

<div id="maincontainer">

<div id="maincontrols">
    <div id="selectors">
        {{^noSpeakerSelectionAllowed}}
        <div>
        <span>{{i18n.Speakers}}</span>
        <select id="speaker">
            {{#speakers}}
            <option value="{{label}},{{deviceId}}" {{#selected}}selected{{/selected}}>{{label}}</option>
            {{/speakers}}
        </select>
        </div>
        {{/noSpeakerSelectionAllowed}}

        <div>
        <span>{{^noSpeakerSelectionAllowed}}{{i18n.Microphone}}{{/noSpeakerSelectionAllowed}}{{#noSpeakerSelectionAllowed}}{{i18n.AudioInOutDevice}}{{/noSpeakerSelectionAllowed}}</span>
        <select id="microphone">
            {{#microphones}}
            <option value="{{label}},{{deviceId}}" {{#selected}}selected{{/selected}}>{{label}}</option>
            {{/microphones}}
        </select>
        </div>

        <div>
        <span>{{i18n.VideoCamera}}</span>
        <select id="camera">
            {{#cameras}}
            <option value="{{label}},{{deviceId}}" {{#selected}}selected{{/selected}}>{{label}}</option>
            {{/cameras}}
        </select>
        </div>
    </div>

    <div id="videotestcolumn">
        <video id="testvideo" playsinline></video>
        <span id="testvideohelp"><span>{{i18n.SettingsHelp}}</span></span>
        <audio id="testaudio" src="{{{componentpath}}}/img/testaudio.mp3"></audio>
        <span id="testbuttons">
            <span id="recordvideo" class="testbutton" onclick="monkshu_env.apps.telemeet.setupav.startrecording(this)">⬤</span>
            <span id="stoprecording" class="testbutton" onclick="monkshu_env.apps.telemeet.setupav.stoprecording(this)">◼</span>
            <span id="playrecording" class="testbutton" onclick="monkshu_env.apps.telemeet.setupav.playrecording(this)">▶</span>
            <span id="stopplayrecording" class="testbutton" onclick="monkshu_env.apps.telemeet.setupav.stopplayrecording(this)">◼</span>
            <span id="playspeakers" class="testbutton" onclick="monkshu_env.apps.telemeet.setupav.playspeakers(this)">𝄢</span>
            <span id="stopplayspeakers" class="testbutton" onclick="monkshu_env.apps.telemeet.setupav.stopplayspeakers(this)">◼</span>
        </span>
    </div>
</div>

<span id="lowerbuttonbar">
    <span id="cancelbutton" class="button" onclick='monkshu_env.apps.telemeet.setupav.stopAVTracks(this); monkshu_env.components["dialog-box"].hideDialog(this);'>Cancel</span>
    <span id="okbutton" class="button" onclick='monkshu_env.apps.telemeet.setupav.stopAVTracks(this); monkshu_env.components["dialog-box"].submit(this); monkshu_env.components["dialog-box"].hideDialog(this);'>OK</span>
</span> 

</div>