:host {
    --border-radius: 0.5em;
    --text-color: #444444;
    --button-color: #00C24E;
    --dialog-background: #FFFFFF;
    --button-text-color: #FFFFFF;
    --video-background: #ececec;
}

::-webkit-scrollbar {
    width: 0.5em !important;
    height: 0.5em !important;
    scroll-behavior: smooth !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    margin: 40px;
    border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey !important;
    border-radius: 10px !important;
    background-clip: padding-box;
}